/* Media Queries */
@media (max-width: 1200px) {
    h1 {
        font-size: 1.3em;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    .btn {
        padding: 12px;
        font-size: 1em;
    }

    .next-btn {
        padding: 12px;
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 1.2em;
    }

    #answer-reveal{
        font-size: 1em;
    }

    .container {
        width: 85%;
        padding: 10px;
    }

    .btn {
        padding: 12px;
        font-size: 1em;
    }

    .next-btn {
        padding: 12px;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1em;
    }

    #answer-reveal{
        font-size: .9em;
    }

    .container {
        width: 90%;
        padding: 5px;
    }

    .btn {
        padding: 12px;
        font-size: 1em;
    }

    .next-btn {
        padding: 12px;
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1em;
    }

    .container {
        width: 90%;
        padding: 5px;
    }

    #answer-reveal{
        font-size: .8em;
    }

    .btn {
        padding: 8px;
        font-size: .9em;
    }

    .next-btn {
        padding: 8px;
        font-size: .9em;
    }
}