body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: black;
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #00ff00;
    border-radius: 8px;
    max-width: 900px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 20px;
    color: #00ff00;
    text-shadow: 0 0 4px #00ff00;
    animation: textGlow 1.5s infinite alternate;
}

@keyframes textGlow {
    from {
        text-shadow: 0 0 0 2px #00ff00, 0 0 0 4px #00ff00, 0 0 0 6px #00ff00;
    }
    to {
        text-shadow: 0 0 0 4px #00ff00, 0 0 0 6px #00ff00, 0 0 0 8px #00ff00;
    }
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 150px;
    background-color: #00ff00;
    color: #222;
    border: 2px solid #00cc00;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #00cc00;
    border-color: #009900;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 255, 0, 0.5);
    color: #fff;
}


.next-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.next-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.next-btn:hover {
    background-color: #00ff00;
    border-color: #00cc00;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px #00cc00;
    color: #fff;
}

#restart-btn {
    width: 200px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#restart-btn:hover {
    background-color: #00ff00;
    border-color: #00cc00;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px #00cc00;
    color: #fff;
}

.hide {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes revealAnswer {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#answer-reveal {
    line-height: 1.3rem;
    animation: revealAnswer 0.5s forwards;
    text-align: justify;
}


.feedback {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.3em;
}

/* Ajuste do botão Falso para vermelho */
#false-btn {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #cc0000;
}

#false-btn:hover {
    background-color: #cc0000;
    border-color: #990000;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
}

/* Adicionando classes de flash para feedback visual */
.flash-green {
    animation: flashGreen 0.5s;
}

.flash-red {
    animation: flashRed 0.5s;
}

@keyframes flashGreen {
    from { background-color: #00ff00; }
    to { background-color: black; }
}

@keyframes flashRed {
    from { background-color: #ff0000; }
    to { background-color: black; }
}

body.flash-green {
    animation: flashGreen 0.3s;
}

body.flash-red {
    animation: flashRed 0.3s;
}

@keyframes flashGreen {
    from { background-color: #00ff00; }
    to { background-color: #000; }
}

@keyframes flashRed {
    from { background-color: #ff0000; }
    to { background-color: #000; }
}

.show {
    display: block;
}

.span_true{
    color: #00ff00;
}

#answer-reveal{
    padding: 20px;
}

.true{
    color: #00cc00;
}

.false{
    color: #ff0000;
}